<!-- Update your HTML template -->
{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock title %}

{% block content %}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12">
                            {% include 'message.html' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{blog.banner.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{blog.category.title}}</span>
                                    <a href="javascript:void(0);"><h4>{{blog.title}}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="{% url 'view_user_information' blog.user.username %}">{{blog.user.username}}</a></li>
                                        <li><a href="javascript:void(0);">{{blog.created_date}}</a></li>
                                        <li><a href="javascript:void(0);">{{blog.blog_comments.all.count}} Comments</a></li>
                                    </ul>
                                    <p>{{blog.description|safe}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    {% if blog.tags.all.count > 0 %}
                                                    {% for tag in blog.tags.all %}
                                                    <li><a href="{% url 'tag_blogs' tag.slug %}">{{tag.title}}</a></li>
                                                    {% endfor %}
                                                    {% else %}
                                                    None
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li id="like-count">{{blog.likes.count}}</li>
                                                    {% if liked_by %}
                                                    <li class="pl-3 pr-3"><a href="javascript:void(0);"><i id="like-icon" data-blog="{{blog.id}}" class="fa fa-heart"></i></a></li>
                                                    {% else %}
                                                    <li class="pl-3 pr-3"><a href="javascript:void(0);"><i id="like-icon" data-blog="{{blog.id}}" class="fa fa-heart empty-heart"></i></a></li>
                                                    {% endif %}
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <!-- WhatsApp Share Button -->
                                                    <li><a href="javascript:void(0);" onclick="shareViaWhatsApp('{{ blog.title }}', '{{ blog.description }}', '{{ blog.get_absolute_url }}')">WhatsApp</a></li>
                                                    <!-- Twitter Share Button -->
                                                    <li><a href="#">Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Rest of your HTML content -->
                    </div>
                </div>
            </div>
            <!-- Sidebar and other elements -->
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<!-- JavaScript function to share via WhatsApp -->
<script>
    function shareViaWhatsApp(title, description, url) {
        // Encode the title, description, and URL
        var encodedTitle = encodeURIComponent(title);
        var encodedDescription = encodeURIComponent(description);
        var encodedUrl = encodeURIComponent(url);

        // Construct the WhatsApp share URL
        var whatsappUrl = "whatsapp://send?text=" + encodedTitle + "%0A" + encodedDescription + "%0A" + encodedUrl;

        // Open WhatsApp to share the content
        window.location.href = whatsappUrl;
    }
</script>
{% endblock scripts %}
